/*the container of the login/register form*/
.credentials-box {
    display: flex;
    flex-direction: column;
    z-index: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 380px;
    width: 430px;
    border-radius: 5px;
}

/*the container of the texts: "Login" and "Register"*/
.header-text__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}

/* the container of the "Log In" and "Register" box */
.login-text-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;

}

.login-line {
    border-bottom: 3px solid;
    width: 65px;
    margin-bottom: 5px;
}

.register-line {
    border-bottom: 3px solid;
    width: 65px;
    margin-bottom: 5px;
}

/*the actual "Log In" text*/
.login-text {
    font-size: 18px;
    margin: 5%;
    padding: 2px;
}

/*the actual "Register" text*/
.register-text {
    font-size: 18px;
    margin: 5%;
    padding: 2px;
}


/*the div that contains all the input fields*/
.input-fields-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

/*the div that contains the button*/
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* background-color: red;  */
}


@media only screen and (max-width: 1366px) { 
    .credentials-box { 
        height: 320px;
        width: 360px;
    }
    .login-text {
        font-size: 15px;
        margin: 5%;
        padding: 2px;
    }  
    .register-text {
        font-size: 15px;
        margin: 5%;
        padding: 2px;
        color: #ccc
    }
    .login-line {
        width: 50px;
    }
    
    .register-line {
        width: 50px;
    }
}

